$white-color: #ffffff;
$primary-color: #2577fd;
$secondary-color: #868c98;
$star-color: #ffbc07;
$background-secondary: #f1f9fe;
$driver-color: #e9eff8;

$header-height: 50px;

.zalo-chat-widget {
  bottom: 92px !important;
  left: 26px !important;
}

.small-slick {
  .slick-slide {
    &.slick-current {
      div {
        .item {
          border: 1px solid $secondary-color;
        }
      }
    }
  }
}

@mixin center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin margin-horizontal($left, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin margin-vertical($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding-horizontal($left, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin padding-vertical($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}
.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

//dropdow class
.dropdown-list {
  position: absolute;
  display: none;
  width: 160px;
  top: 150%;
  left: -10px;
  background-color: $white-color;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
  animation: fadeIn ease-in 0.3s;
  transform-origin: calc(100% - 20px) top;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 24px;
    border: 10px solid;
    border-color: transparent transparent $driver-color transparent;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    top: -18px;
    left: 5px;
    height: 20px;
    width: 90%;
    z-index: 2;
  }

  .dropdown-item {
    position: relative;
    background-color: transparent;
    transition: 0.2s linear;
    cursor: pointer;

    .dropdown-item-link {
      display: block;
      padding: 10px 16px;
      font-size: 1.4rem;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }

    &:not(:last-child)::before {
      position: absolute;
      content: "";
      width: 90%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      border-bottom: 1px solid $driver-color;
    }

    &:hover {
      background-color: $background-secondary;
      border-radius: 2px;
    }
  }
}

.title-section {
  margin-left: 30px;
  @include margin-vertical(40px, 20px);
  color: $primary-color;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  height: 38px;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 20px;
  background-color: $background-secondary;
  box-shadow: 0 0 0 1px #f7f7f7;

  &.active {
    width: 300px;
  }

  .open-search {
    display: inline-block;
    height: 38px;
    width: 38px;
    flex-shrink: 0;
    color: $primary-color;
    font-size: 1.4rem;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
  }
}

.btn {
  font-weight: 400;
  font-size: 1.4rem;
  display: inline-block;
  color: $white-color;
  background-color: $primary-color;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(
    to right,
    rgb(55, 204, 255),
    rgb(123, 34, 255)
  );

  &:hover {
    opacity: 0.7;
    color: $white-color;
    background-color: $primary-color;
    background-image: linear-gradient(
      to right,
      rgb(55, 204, 255),
      rgb(123, 34, 255)
    );
  }

  &.btn-danger {
    background-color: #dc3545;
  }
}

.scroll-top {
  position: fixed;
  width: 45px;
  height: 45px;
  right: -50px;
  bottom: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #8be8fd67;
  cursor: pointer;

  &:hover {
    box-shadow: #8be8fd67 0px 0px 4px 1px;
    background-color: #8be8fd93;
  }

  i {
    color: $primary-color;
    line-height: 45px;
    font-size: 2.4rem;
  }
}

.page-notfound {
  .whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle 0.2s infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }

  h1 {
    margin-top: -100px;
    margin-bottom: 20px;
    color: #facf5a;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
  }

  h2 {
    color: #455d7a;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.product-list .product {
  position: relative;
  display: block;
  padding-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  .pro-view {
    position: absolute;
    color: $primary-color;
    font-size: 1.2rem;
    top: 8px;
    left: 10px;
    z-index: 1;

    i {
      font-size: 1.2rem;
    }
  }

  .pro-new {
    position: absolute;
    padding: 2px 5px;
    top: 8px;
    right: -5px;
    font-size: 1.2rem;
    color: $white-color;
    background-color: #de4b3e;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
      border-top: 5px solid #de4b3e;
      border-right: 5px solid transparent;
      filter: brightness(80%);
    }
  }

  .pro-img {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
    border-radius: 4px;
    transition: transform 0.4s ease-in-out;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 3px;

    .pro-img {
      animation-fill-mode: forwards;
      transform: scale(1.05);
    }

    .pro-info {
      .pro-detail {
        display: block;
      }

      .pro-name {
        display: none;
      }
    }
  }

  .pro-info {
    padding: 8px 14px;
    padding-top: 14px;

    & > div {
      margin-top: 4px;
    }

    .pro-detail {
      display: none;
      margin: 0 auto;
      width: 90%;
      height: 36px;
      color: $white-color;
      text-align: center;
      line-height: 36px;
      border-radius: 10px;
      background-image: linear-gradient(
        to right,
        rgb(55, 204, 255),
        rgb(123, 34, 255)
      );
      animation: fadeIn ease-in 0.5s;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 1.2px;
    }

    .pro-name {
      color: $primary-color;
      font-size: 1.5rem;
      text-align: center;
      height: 36px;
      line-height: 1.6rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    .pro-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pro-current-price {
        color: $star-color;
        font-size: 1.4rem;
      }

      .pro-prev-price {
        color: $secondary-color;
        font-size: 1.2rem;
      }
    }

    .pro-more {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pro-star i {
        font-size: 1.2rem;
        // color: $star-color;
      }

      .pro-sell {
        font-size: 1.1rem;
        color: $secondary-color;
      }
    }
  }
}

.comment-box {
  display: flex;
  margin: 20px 0;

  .comment-avatar {
    margin-top: 8px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
  }

  .comment-body {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 10px 16px;
    border-radius: 14px;
    background-color: #f5f5f5;

    .comment-content {
      min-width: 120px;
      max-width: 500px;

      .comment-user {
        color: $primary-color;
        font-size: 1.4rem;
        font-weight: 600;
      }

      .comment-text {
        line-height: 1.6rem;
        margin-top: 6px;
        color: $secondary-color;
        font-size: 1.3rem;
        word-wrap: break-word;
      }

      .comment-rating-time {
        display: flex;
        align-items: center;

        .comment-rating {
          i {
            font-size: 1.1rem;
            // color: $star-color;
          }
        }

        .comment-time {
          margin-left: 8px;
          color: $secondary-color;
          font-size: 1.2rem;
        }
      }
    }

    .comment-feature {
      margin-left: 8px;
      margin-right: -6px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-shrink: 0;

      i {
        @include margin-vertical(2px);
        color: $secondary-color;
        cursor: pointer;
        font-size: 1.6rem;

        &:first-child {
          color: green;
        }
      }
    }
  }
}

.comment-input-box {
  margin-top: 10px;
  width: 100%;

  .title-edit {
    margin-left: 25px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6rem;
    color: $primary-color;
  }

  .quality {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    color: $secondary-color;
  }

  .title-comment {
    margin-top: 6px;
    margin-left: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    color: $secondary-color;
  }
  .rating {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    i {
      cursor: pointer;
      font-size: 1.4rem;
      // color: $secondary-color;
    }
  }

  .comment-input {
    display: block;
    margin-top: 16px !important;
    padding: 10px;
    color: $secondary-color;
    font-size: 1.6rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    outline: none;
    border: 1px solid $driver-color;
    box-shadow: $driver-color 0px 0px 1px 1px;
  }

  .btn-comment-wrapper {
    text-align: left;
    padding-right: 10px;

    .btn-comment {
      height: auto;
      display: inline-block;
      margin-top: 20px;
      padding: 14px 40px;
      font-size: 1.4rem;
      color: $white-color;
      border-radius: 6px;
      text-transform: uppercase;
      background-image: linear-gradient(
        to right,
        rgb(55, 204, 255),
        rgb(123, 34, 255)
      );
      cursor: pointer;
    }
  }
}

.no-item {
  color: $primary-color;
}

.ant-modal {
  .ant-modal-content {
    border-radius: 10px;

    .comment-input-box {
      .title-edit {
        text-align: center;
      }

      .quality {
      }

      .title-comment {
      }
      .rating {
      }

      .comment-input {
      }

      .btn-comment-wrapper {
        text-align: right;

        .btn-comment {
        }
      }
    }
  }
}

.form-section {
  .user-info {
    text-align: center;
    font-size: 2rem;
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
  }

  .form-info {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

    .order-button {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-order {
        height: auto;
        outline: none;
        border: none;
        padding: 14px 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        width: 100%;
      }
    }

    .form-group {
      @include margin-vertical(16px);

      .input-field {
        position: relative;

        i {
          position: absolute;
          top: 50%;
          left: 20px;
          font-size: 1.8rem;
          color: #acacac;
          transform: translateY(-50%);
        }

        .form-control {
          width: 100%;
          padding: 14px 20px;
          padding-left: 45px;
          border-radius: 10px;
          display: block;
          font-size: 1.6rem;
          font-family: "Poppins";
          font-weight: 600;
          line-height: 2.4rem;
          color: $secondary-color;
          outline: none;
          border: none;
          background-color: #f0f0f0;

          &::-webkit-input-placeholder {
            color: #acacac;
            font-family: sans-serif;
            font-weight: 300;
          }
        }
      }

      .error {
        margin-top: 8px;
        margin-left: 16px;
        font-size: 1.3rem;
        color: #dc3545;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 4px;
  overflow: hidden;

  thead {
    tr {
      border-bottom: 1.4px solid $driver-color;
      background-color: $background-secondary;

      th {
        color: $primary-color;
        font-weight: 600;
        text-align: center;
        font-size: 1.4rem;
        padding: 1.2rem;
      }
    }
  }

  tbody {
    tr {
      transition: 0.3s ease-in-out;
      border-top: 1px solid $driver-color;

      td {
        color: $secondary-color;
        text-align: center;
        font-size: 1.4rem;
        padding: 1.2rem;
      }

      &:hover {
        background-color: $background-secondary;
      }

      .pro-img {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 4px;
        overflow: hidden;
      }
      .pro-name {
        color: $primary-color;
      }

      .pro-quantity {
        color: $secondary-color;
        width: 45px;
        background-color: #f7f7f7;
        border: none;
        outline: none;
        padding: 4px 4px;
        border-radius: 4px;
        box-shadow: $driver-color 0px 0px 0px 1.2px;
      }
    }
  }
}
//main

.app {
  margin: 0 auto;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.active {
    display: block;
  }
}

//header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  background-color: $white-color;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  z-index: 2;

  .navbar {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      padding: 4px 4px;
      height: 90%;
      transition: 1s;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        transform: scaleX(1.1);
      }
    }

    .navbar-content {
      @include center-end;

      .languages {
        margin: 14px;

        .lang-vi {
          color: $secondary-color;
          font-size: 1.3rem;
          margin-right: 4px;
          cursor: pointer;

          &.active {
            color: $primary-color;
          }
        }

        .lang-en {
          color: $secondary-color;
          font-size: 1.3rem;
          cursor: pointer;

          &.active {
            color: $primary-color;
          }
        }
      }

      .search-box {
        margin-right: 8px;
      }

      .navbar-list {
        .navbar-item {
          position: relative;
          display: inline-block;
          margin: 6px 8px;

          .navbar-item-link {
            position: relative;
            display: inline-block;
            padding: 6px 10px;
            color: $secondary-color;
            font-size: 1.5rem;
            border: 1px solid transparent;
            border-radius: 6px;
            transition: 0.2s linear;
            background-color: transparent;
            cursor: pointer;

            .cart-quantity {
              position: absolute;
              display: inline-block;
              top: 8px;
              right: -8px;
              width: 14px;
              height: 14px;
              color: $white-color;
              font-size: 1rem;
              text-align: center;
              line-height: 14px;
              border-radius: 50%;
              background-color: $primary-color;
            }
          }

          &:hover {
            .navbar-item-link {
              color: $primary-color;
              transform: scale(1.1);
              background-color: $background-secondary;
            }

            .dropdown-list {
              display: block;
            }
          }
        }

        .active .navbar-item-link {
          color: $primary-color;
          transform: scale(1.1);
          background-color: $background-secondary;
        }
      }

      .navbar-user {
        position: relative;
        @include center-end;
        margin: 0 10px;
        cursor: pointer;

        .user-auth i {
          color: $primary-color;
          font-size: 2.2rem;
        }

        .user-avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        }

        .user-name {
          margin-left: 6px;
          color: $primary-color;
          font-size: 1.4rem;
        }

        &:hover .dropdown-list {
          display: block;
        }
      }

      .navbar-button-open {
        display: none;
        cursor: pointer;

        & i {
          font-size: 2.2rem;
          color: $primary-color;
        }
      }
    }
  }

  .navbar-side {
    position: fixed;
    padding: 10px 20px;
    top: 2px;
    right: -70%;
    width: 70%;
    height: 100%;
    border-radius: 4px;
    animation-fill-mode: forwards;
    background-color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
    z-index: 2;

    .navbar-side-header {
      @include padding-horizontal(10px);
      @include margin-vertical(10px, 20px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-side-name {
        color: $primary-color;
        font-size: 1.6rem;
      }

      .navbar-button-close {
        color: $primary-color;
        cursor: pointer;
        font-size: 1.6rem;
      }
    }

    .navbar-side-list .navbar-side-item {
      position: relative;
      display: flex;
      padding: 8px 10px;
      margin-bottom: 4px;
      align-items: center;
      transition: 0.2s linear;
      background-color: transparent;
      cursor: pointer;
      border-radius: 4px;

      &:not(:last-child)::before {
        position: absolute;
        content: "";
        width: 95%;
        height: 1px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-bottom: 1px solid $driver-color;
      }

      .navbar-side-icon {
        color: $primary-color;
        font-size: 1.8rem;
        padding: 12px;
        border-radius: 50%;
        background-color: $background-secondary;
      }

      .navbar-side-link {
        padding: 0 14px;
        display: block;
        color: $secondary-color;
        font-size: 1.5rem;

        &:hover {
          color: $primary-color;
        }
      }

      &.active,
      &:hover {
        background-color: $background-secondary;
      }
    }
  }
}

.btn-chat {
  position: fixed;
  width: 45px;
  height: 45px;
  right: 50px;
  bottom: 230px;
  text-align: center;
  border-radius: 8px;
  background-color: #8be8fd67;
  cursor: pointer;

  &:hover {
    box-shadow: #8be8fd67 0px 0px 4px 1px;
    background-color: #8be8fd93;
  }

  i {
    color: #2577fd;
    line-height: 45px;
    font-size: 2.4rem;
  }
}

.content.gird {
  margin-top: 50px;
  padding-top: 40px;

  .slider .slider-img {
    display: block;
    margin: 0 auto;
    max-width: 950px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }

  .product-section {
    @include margin-horizontal(4px);
    padding: 10px 0;
    border-radius: 8px;
    background-color: $background-secondary;

    .pro-gallery {
      .pro-gallery-single {
        margin: 0 auto;
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 8px;
      }

      .pro-gallery-tab {
        margin: 0 auto;
        margin-top: 20px;
        width: 350px;
        height: 70px;
        border-radius: 4px;
        background-color: #f5f5f5;

        .gallery-image-wrapper {
          padding: 4px;
          height: 70px;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }

    .pro-info {
      padding: 20px 20px;

      .pro-name {
        color: $primary-color;
        font-size: 2.6rem;
        font-weight: 300;
      }

      .pro-share {
        display: flex;
        margin-top: 8px;
        height: 60px;
      }

      .pro-view {
        margin-top: 4px;
        color: $secondary-color;
        font-size: 1.5rem;
      }

      .pro-price {
        margin-top: 4px;
        display: flex;
        align-items: center;

        .pro-price-current {
          font-size: 2.2rem;
          color: $star-color;
        }

        .pro-price-prev {
          margin-left: 14px;
          display: block;
          color: $secondary-color;
          font-size: 1.4rem;
        }
      }

      .rating {
        margin-top: 30px;
        font-size: 1.4rem;

        i {
          font-size: 1.4rem;
        }
      }

      .quantity-box {
        margin-top: 30px;
        display: flex;
        align-items: center;

        .quantity-text {
          font-size: 1.6rem;
          color: $secondary-color;
        }

        .quantity-action {
          margin-left: 12px;
          display: flex;
          align-items: center;

          .add,
          .sub {
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 4px;
            background-color: #f1f1f1;
            cursor: pointer;

            i {
              line-height: 40px;
              color: $primary-color;
              font-size: 1.8rem;
            }
          }

          .quantity-number {
            background-color: #f1f1f1;
            color: $primary-color;
            font-weight: 600;
            width: 40px;
            height: 40px;
            margin: 0 4px;
            border: none;
            outline: none;
            text-align: center;
            padding: 10px 10px;
            font-size: 1.6rem;
            border-radius: 4px;
          }
        }
      }

      .add-cart {
        display: inline-block;
        height: auto;
        margin-top: 14px;
        padding: 20px 50px;
        font-size: 1.8rem;
        color: $white-color;
        border-radius: 6px;
        text-transform: uppercase;
        background-image: linear-gradient(
          to right,
          rgb(55, 204, 255),
          rgb(123, 34, 255)
        );
        cursor: pointer;
      }

      .rating-feedback {
        margin-top: 10px;
        color: $secondary-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .description-section {
    .tab-description {
      padding: 2px 20px;

      .content-desciption {
        padding: 10px 010px;
        border-radius: 4px;
        border: 1px solid $driver-color;

        .tab-comment {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h4 {
            margin-left: 60px;
            font-size: 1.4rem;
            color: $secondary-color;
            font-weight: 300;
          }

          .comment-input-box.edit {
            margin-top: 40px;
          }
        }
      }
    }
  }

  .cart-section {
    .title-section {
      margin-top: 0;
    }

    .cart-total {
      padding-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .total-money-wrapper {
        margin-top: 10px;

        .title-money {
          display: inline-block;
          color: $secondary-color;
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        .total-money {
          display: inline-block;
          color: $primary-color;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }

      .btn-checkout {
        margin-top: 10px;
        padding: 14px 26px;
        color: $white-color;
        font-size: 2rem;
        border-radius: 8px;
        text-transform: uppercase;
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .checkout-section {
    .title-address {
      color: $primary-color;
      font-size: 1.6rem;
      font-weight: 300;
    }

    .choose-address {
      margin-left: 10px;
      margin-bottom: 6px;
      font-size: 1.3rem;
      font-weight: 300;
      color: $secondary-color;
    }

    .address-section {
      margin-top: 20px;

      .btn-feeship {
        padding-top: 0px;
        padding-bottom: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-20%);
      }
    }

    .payment-wrapper {
      margin-top: 15px;
      @include padding-horizontal(20px);
      @include padding-vertical(10px);
      border-radius: 6px;
      background-color: $background-secondary;

      .title-payment {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 2.6rem;
        font-weight: 600;
        color: $primary-color;
      }

      .payment-method {
        margin-top: 6px;

        .method-title {
          color: $secondary-color;
          font-weight: 300;
          font-size: 1.4rem;
        }
        .method-list {
          .method-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .method-item {
              margin-top: 10px;
              display: inline-block;

              span {
                color: $secondary-color;

                img {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }

      .coupon-section {
        margin-top: 20px;

        .coupon-content {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .form-control {
            margin-right: 10px;
            width: 100%;
            padding: 6px 8px;
            display: block;
            font-size: 1.4rem;
            font-family: "Poppins";
            font-weight: 600;
            line-height: 2.4rem;
            border-radius: 6px;
            color: $secondary-color;
            outline: none;
            border: none;
            background-color: #f0f0f0;

            &::-webkit-input-placeholder {
              color: #acacac;
              font-family: sans-serif;
              font-weight: 300;
            }
          }
          .btn-coupon {
            height: 35px;
            flex-shrink: 0;
            padding: 0 20px;
          }
        }
      }

      .apply-section {
        border-top: 1px solid $driver-color;
        padding-top: 4px;
        margin-top: 10px;

        .apply-text {
          font-size: 1.4rem;
          color: $secondary-color;

          &::before {
            content: "- ";
          }

          &:not(:last-child) {
            margin-bottom: 6px;
          }
        }
      }

      .money-section {
        border-top: 1px solid $driver-color;
        padding-top: 15px;
        margin-top: 10px;

        .money-title {
          text-transform: uppercase;
          text-align: left;
          color: $primary-color;
          font-size: 1.8rem;
          font-weight: 600;
        }

        .money-list {
          .money-item {
            @include margin-vertical(10px);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .money-desc {
              margin-right: 10%;
              font-size: 1.4rem;
              color: $secondary-color;
            }
            .money-content {
              color: $primary-color;
              font-size: 1.6rem;
            }
          }
        }
      }

      .order-button {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-order {
          padding: 14px 10px;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.6rem;
          width: 100%;
        }
      }
    }
  }

  .order-detail-section {
    .detail-part {
      margin-top: 20px;

      &.first-part {
        margin-top: 60px;
      }

      .detail-title {
        text-transform: uppercase;
        font-weight: 600;
        color: $primary-color;
        font-size: 1.6rem;
      }
    }
  }

  .login-section {
    .panel-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .login-img {
        width: 100%;
      }

      .has-account {
        margin-top: 10px;
        margin-right: 30px;
        font-weight: 300;
        font-size: 1.8rem;
        color: #5995fd;
      }

      .btn-change {
        margin-top: 10px;
        margin-right: 30px;
        color: #5995fd;
        background: none;
        border: 2px solid #5995fd;
        padding: 10px 35px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        border-radius: 30px;
        cursor: pointer;
      }
    }

    .panel-right {
      .logo-img {
        margin: 0 auto;
        width: 150px;
        height: 60px;
      }

      .title {
        margin-top: 10px;
        font-weight: 600;
        font-size: 2.8rem;
        text-align: center;
        color: #5995fd;
      }

      .form-input {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &.form-signup {
          .form-group {
            width: 65%;
          }
        }

        .form-group {
          margin-top: 16px;
          width: 60%;

          .input-field {
            position: relative;
            i {
              position: absolute;
              top: 50%;
              left: 20px;
              font-size: 1.8rem;
              color: #acacac;
              transform: translateY(-50%);
            }
            .form-control {
              width: 100%;
              padding: 16px 20px;
              padding-left: 45px;
              border-radius: 55px;
              display: block;
              font-size: 1.8rem;
              font-family: "Poppins";
              font-weight: 600;
              line-height: 2.4rem;
              color: $secondary-color;
              outline: none;
              border: none;
              background-color: #f0f0f0;

              &::-webkit-input-placeholder {
                color: #acacac;
                font-family: sans-serif;
                font-weight: 300;
              }
            }
          }

          .error {
            margin-top: 8px;
            margin-left: 16px;
            font-size: 1.3rem;
            color: #dc3545;
          }
        }
      }

      .login-action {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .login-fail {
          @include margin-vertical(10px, 10px);
          font-size: 1.4rem;
          color: #dc3545;
        }

        .btn-submit {
          margin-top: 30px;
          padding: 14px 30px;
          border-radius: 30px;
          text-transform: uppercase;
          color: $white-color;
          font-size: 1.6rem;
          font-weight: 600;
          background-color: #5995fd;
          outline: none;
          border: none;
          cursor: pointer;
        }

        .social-text {
          margin-top: 20px;
          color: $secondary-color;
          font-size: 1.4rem;
        }

        .social-media {
          margin-top: 10px;
          display: flex;
          width: 50%;
          justify-content: space-between;

          .social-media-link {
            width: 48%;

            .social-media-item {
              padding: 8px;
              padding-left: 9px;
              display: flex;
              align-items: center;
              border-radius: 30px;
              cursor: pointer;

              .social-media-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 1.6rem;
                line-height: 25px;
                border-radius: inherit;
                background-color: white;
              }

              .social-media-text {
                margin-left: 10px;
                color: white;
                font-size: 1.4rem;
              }

              &.facebook {
                background-color: #3b5999;

                .social-media-icon {
                  color: #3b5999;
                }
              }

              &.instagram {
                background-color: #e4405f;

                .social-media-icon {
                  color: #e4405f;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-page {
    .search-form {
      .input-field {
        position: relative;

        .search-icon {
          position: absolute;
          top: 50%;
          cursor: pointer;

          i {
            font-size: 1.6rem;
            color: #acacac;
            transform: translateY(-50%);
          }

          &.microphone {
            right: 54px;

            &.red {
              i {
                color: red;
              }
            }
          }

          &.search {
            right: 20px;
          }
        }

        .form-control {
          width: 100%;
          padding: 12px 16px;
          padding-left: 25px;
          padding-right: 50px;
          border-radius: 28px;
          display: block;
          font-size: 1.6rem;
          font-family: "Poppins";
          line-height: 2.4rem;
          color: $secondary-color;
          outline: none;
          border: none;
          background-color: #f0f0f0;

          &::-webkit-input-placeholder {
            color: #acacac;
            font-family: sans-serif;
            font-weight: 300;
          }
        }
      }
    }

    .search-filter {
      @include margin-horizontal(15px);
      @include padding-horizontal(15px);
      width: 100%;
      border-radius: 6px;

      & > div > div {
        @include padding-vertical(6px);

        .filter-item {
          height: 100%;
        }
      }
    }

    .brand-filter {
      height: 100px;
      background-color: blue;
    }
    .product-result {
      .title-result {
        margin-top: 6px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 300;
        color: $primary-color;
      }
      .not-product {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 300;
        color: $primary-color;
      }
    }

    .youtube-result {
      display: flex;
      &:not(:last-child) {
        border-bottom: 2px solid $driver-color;
      }

      .video-info {
        p {
          color: $secondary-color;
        }
        .name {
          color: black;
          margin-top: 10px;
          font-size: 2rem;
          font-weight: normal;
        }

        .time {
          margin-top: 20px;
          font-size: 1.6rem;
        }
        .creator {
          margin-top: 20px;
          font-size: 1.6rem;
        }
        .desc {
          margin-top: 20px;
          font-size: 1.4rem;
        }
      }
    }
  }

  .profile-page {
    .profile {
      margin-top: 30px;
      width: 60%;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;

      .profile-header {
        .header-background {
          height: 180px;
          border-radius: 6px;
          overflow: hidden;
        }

        .header-info {
          position: relative;
          height: 80px;

          .avatar {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: 100px;

            img {
              box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px,
                rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
              border-radius: 50%;
            }

            .edit-avatar {
              position: absolute;
              top: 74%;
              right: 4%;
              background-color: #f2f2f2;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              text-align: center;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;

              i {
                line-height: 20px;
                font-size: 1.1rem;

                &:hover {
                  color: $primary-color;
                }
              }
            }
          }

          .name {
            position: absolute;
            font-weight: 300;
            font-size: 1.6rem;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            color: $primary-color;
          }
        }
      }

      .profile-body {
        .info-item {
          margin: 14px 10px;
          padding: 4px 8px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          background-color: #f5f5f5;

          .info-left {
            flex: 1;
            margin-left: 10px;

            .info-title {
              margin: 2px 0;
              font-weight: 600;
              color: $secondary-color;
              font-size: 1.4rem;
            }

            .info-content {
              margin: 2px 0;
              font-weight: 300;
              color: $primary-color;
              font-size: 1.5rem;
            }

            .info-activity {
              margin: 10px 0;
              font-weight: 300;
              color: $primary-color;
              font-size: 1.5rem;
            }
          }

          .info-icon {
            cursor: pointer;

            i {
              font-size: 1.8rem;
              color: $secondary-color;
              cursor: pointer;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }

      .profile-edit {
        margin-bottom: 16px;
        text-align: center;

        .edit-info {
          text-transform: uppercase;
          padding: 14px 18px;
          border-radius: 30px;
        }
      }
    }
  }

  .contact-page {
    .contact-left {
      .contact-img {
        width: 100%;
      }
    }

    .contact-right {
      .message-icon {
        top: 28px;
      }

      .contact-button-wrap {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-contact {
          padding: 14px 10px;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.6rem;
          width: 100%;
          border: none;
          border-radius: 8px;
        }
      }
    }
  }

  .message-page {
    .chat-right {
      width: 100%;

      .box-chat {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
      }

      .header-chat {
        display: flex;
        width: 100%;
        height: 60px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
          0 -1px rgba(0, 0, 0, 0.1) inset,
          0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
      }

      .header-chat-avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      .header-chat-avatar > img {
        margin: 0 10px;
        border-radius: 50%;
        border: 1px solid wheat;
        width: 45px;
        height: 45px;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }

      .header-chat-avatar::before {
        content: "";
        position: absolute;
        bottom: 7px;
        right: 9px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: #31a24c;
      }

      .header-chat-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .header-chat-info .name {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
      }

      .header-chat-info .status {
        font-size: 12px;
        line-height: 16px;
        cursor: pointer;
        color: #65676b;
      }

      .header-chat-feature {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        height: 100%;
      }

      .header-chat-feature > svg {
        cursor: pointer;
        width: 30px;
        height: 30px;
        fill: rgb(0, 132, 255) !important;
      }

      .body-chat {
        flex-grow: 1;
        padding: 0 5px;
        overflow-y: scroll;
      }

      .body-chat .box-mess {
        display: flex;
        padding-top: 12px;
        padding-right: 10px;
      }

      .to-right {
        justify-content: flex-end;
      }

      .to-right > .box-image {
        display: none;
      }

      .box-image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 5px;
        padding-right: 8px;
      }

      .box-image > img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }

      .mess-content {
        max-width: 75%;
      }

      .mess-content > p {
        font-size: 1.6rem;
        line-height: 22px;
        color: #090c13;
        width: 100%;
        height: 100%;
        padding: 12px 18px;
        border-radius: 22px;
        word-break: break-word !important;
        background-color: #f0f2f5;
      }

      .to-right .mess-content > p {
        color: #ffffff;
        background-color: rgba(0, 132, 255, 0.945);
      }

      .footer-chat {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
      }

      .footer-chat-more {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .footer-chat-more > svg {
        cursor: pointer;
        fill: rgb(0, 132, 255);
      }

      .footer-chat-message {
        overflow-x: hidden;
        flex-grow: 1;
        padding: 2px 0;
      }

      .footer-chat-message > input {
        font-size: 1.4rem;
        color: #090c13;
        width: 100%;
        height: auto;
        outline: none;
        border: none;
        padding: 15px 20px;
        background-color: #f0f2f5;
        border-radius: 35px;
        word-break: break-word !important;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }

      .footer-chat-send {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .footer-chat-send > svg {
        cursor: pointer;
        fill: rgb(0, 132, 255);
      }
    }
  }
}

.footer {
  margin-top: 40px;
  padding: 10px 10px;
  background-color: #f5f5f5;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-logo {
      width: 120px;
      height: 50px;
    }

    .footer-info {
      color: $secondary-color;
      font-size: 1.3rem;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  .footer-end-text {
    margin: 0 auto;
    display: block;
    color: $secondary-color;
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  from {
    display: none;
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes navMobieFadeIn {
  from {
    right: -70%;
  }

  to {
    right: 0;
  }
}

@keyframes navMobieFadeOut {
  from {
    right: 0;
  }
  to {
    right: -70%;
  }
}

@keyframes scrollTopIn {
  0% {
    right: -50px;
    bottom: 10px;
  }
  50% {
    right: 50px;
    bottom: 0px;
  }
  100% {
    right: 50px;
    bottom: 50px;
  }
}

@keyframes scrollTopOut {
  0% {
    right: 50px;
    bottom: 50px;
  }
  50% {
    right: 50px;
    bottom: 0px;
  }
  100% {
    right: -50px;
    bottom: 10px;
  }
}

@keyframes headerIn {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@keyframes headerOut {
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

// Responsive
@media (max-width: 768px) {
  .header {
    padding: 0 20px;

    .navbar .navbar-content {
      .search-box.large {
        display: none;
      }

      .navbar-list {
        display: none;
      }

      .navbar-user {
        .user-avatar {
          order: 2;
          margin-left: 8px;
        }

        .user-name {
          order: 1;
        }
      }

      .navbar-button-open {
        display: block;
      }
    }

    .navbar-side .search-box {
      margin: 0 auto;
      margin-bottom: 10px;

      &.active {
        width: 90%;
      }
    }
  }

  .content.gird {
    .slider .slider-img {
      max-width: 95%;
      height: 180px;
    }

    .product-section {
      padding: 10px 0;
      border-radius: 8px;
      background-color: $background-secondary;

      .pro-gallery {
        .pro-gallery-single {
          width: 90%;
          height: 90%;
        }

        .pro-gallery-tab {
          width: 90%;
          margin-top: 15px;
        }
      }

      .pro-info {
        @include padding-vertical(0px);

        .add-cart {
          display: inline-block;
        }
      }
    }

    .cart-section {
      .cart-total {
        .total-money-wrapper {
          .title-money {
            font-size: 1.4rem;
          }

          .total-money {
            font-size: 1.8rem;
          }
        }

        .btn-checkout {
          padding: 14px 18px;
          font-size: 1.6rem;
        }
      }
    }

    .login-section {
      & > div {
        order: 2;

        & + div {
          order: 1;
        }
      }
      .panel-left {
        margin-top: 10px;

        .has-account,
        .btn-change {
          margin-right: 0px;
        }
      }
      .panel-right {
        .form-input {
          &.form-signup {
            .form-group {
              width: 85%;
            }
          }
          .form-group {
            width: 85%;
          }
        }
        .login-action {
          .btn-login {
            padding: 16px 30px;
          }

          .social-media {
            width: 70%;
          }
        }
      }
    }

    .checkout-section {
      .address-section {
        .btn-feeship {
          text-align: center;
          position: relative;
          width: 100%;
        }
      }
    }

    .profile-page {
      .profile {
        width: 90%;
      }
    }
  }

  .footer .gird-full .footer-content {
    &:last-child {
      display: none;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .comment-box {
    .comment-avatar {
      width: 40px;
      height: 40px;
    }
    .comment-body {
      max-width: 84%;
      .comment-content {
        max-width: 100%;
      }
    }
  }

  .comment-input-box {
    .comment-input {
      max-width: 300px;
    }
  }

  .product-list {
    @include padding-horizontal(5px);

    & > div {
      @include padding-horizontal(5px);
      @include padding-vertical(5px);
    }
    .product {
      .pro-img {
        max-width: 170px;
        max-height: 170px;
      }

      .pro-info {
        @include padding-horizontal(8px);

        .pro-name {
          height: 29px;
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
      }
      .pro-price {
        .pro-current-price {
          font-size: 1rem;
        }

        .pro-prev-price {
          font-size: 0.9rem;
        }
      }
    }
  }

  table.table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .btn-music {
    right: 30px;
  }

  .ant-modal {
    .ant-modal-content {
      max-width: 90%;
      margin: 0 auto;
      border-radius: 10px;

      .comment-input {
        height: 150px;
      }
    }
  }

  @keyframes scrollTopIn {
    0% {
      right: -50px;
      bottom: 10px;
    }
    50% {
      right: 30px;
      bottom: 0px;
    }
    100% {
      right: 30px;
      bottom: 50px;
    }
  }

  @keyframes scrollTopOut {
    0% {
      right: 30px;
      bottom: 50px;
    }
    50% {
      right: 30px;
      bottom: 0px;
    }
    100% {
      right: -50px;
      bottom: 10px;
    }
  }
}
