.btn-music {
  position: fixed;
  width: 45px;
  height: 45px;
  right: 50px;
  bottom: 110px;
  text-align: center;
  border-radius: 8px;
  background-color: #8be8fd67;
  cursor: pointer;

  &:hover {
    box-shadow: #8be8fd67 0px 0px 4px 1px;
    background-color: #8be8fd93;
  }

  i {
    color: #2577fd;
    line-height: 45px;
    font-size: 2.4rem;
  }
}

.music {
  height: max-content;
  width: 100%;
  border-radius: 10px;
  background-color: #63add0;

  .music-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 5px 15px;
  }

  .music-header button {
    cursor: pointer;
  }

  .music-icon {
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
  }

  .music-headerText {
    color: white;
    font-size: 20px;
  }

  .music-playerContaier {
    width: 100%;
    min-height: 200px;
    background-color: white;
    border-radius: 35px 35px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 0 10px 0;
    margin-top: 130px;
    // border-radius: 30px;
  }

  .music-avatar,
  .music-avatar1 {
    position: absolute;
    top: 110px;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }

  .music-name {
    margin-top: 27px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .music-title {
    margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  .music-avatar1 {
    top: 120px;
    width: 190px;
    filter: blur(8px);
  }

  .music-controls {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .music-controlButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: box-shadow 0.4s;
  }

  .music-controlButton:hover {
    box-shadow: 3px 3px 5px #cccccc, -3px 0px 5px #cccccc;
  }

  .music-centerButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 7px solid #63add0;
    color: #63add0;
    transition: box-shadow 0.5s;
  }

  .music-progress {
    margin: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .music-progressCenter {
    width: 70%;
    height: 7px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }

  .music-progressCenter:hover {
    cursor: pointer;
  }

  .music-progressBar {
    width: 0px;
    height: 7px;
    border-radius: 10px;
    background-color: #63add0;
  }

  .music-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 14px;
  }
  .music-opt {
    border: none;
    background-color: transparent;
    font-size: 25px;
    height: auto;
    width: auto;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.4s;
  }
  .music-opt:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #cccccc, -3px 0px 5px #cccccc;
    color: #147cc0;
  }
}
